<html>
<head>
    <title>{{ title|default('WMFFL') }}</title>
    <link rel="icon" href="/images/logo3.png" type="image/png"/>
    <link rel="SHORTCUT ICON" href="/images/logo3.png"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% if jsList is defined %}
        {% for sheet in jsList %}
            <script src="{{ sheet }}"></script>
        {% endfor %}
    {% endif %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/transactions/livedraft/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/base/css/core.css"/>
    {% if cssList is defined %}
        {% for sheet in cssList %}
            <link rel="stylesheet" type="text/css" href="{{ sheet }}"/>
        {% endfor %}
    {% endif %}

</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="{{ asset('images/logo3.png') }}" alt="WMFFL" height="48px"/></a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navb">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/activate/activations">Activations</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams">Teams</a></li>
                <li class="nav-item"><a class="nav-link" href="/stats/leaders">Stats</a></li>
                <li class="nav-item"><a class="nav-link" href="/history/2019Season/schedule">Schedule</a></li>
                <li class="nav-item"><a class="nav-link" href="/history/2019Season/standings">Standings</a></li>
                <li class="nav-item"><a class="nav-link" href="/transactions/transactions">Transactions</a></li>
                <li class="nav-item"><a class="nav-link" href="/rules">Rules</a></li>
                <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="fas fa-sign-in-alt"></span> Login</a>
                </li>
            </ul>
        </div>

    </nav>

</header>


<div class="container-fluid text-center p-3" style="background-color: #ffffff">

    {#<table bgcolor="#ffffff" align="center" width="100%" border="0" class="mainTable">#}
    {#    <tr>#}
    {#        <td width=180 valign=Top>#}

    {#            <img src="/images/blank.gif" height=11><BR>#}
    {#            <img src="/images/logo3.png" alt="wmffl" width="145"><br>#}
    {#            <IMG SRC="/images/blank.gif" HEIGHT=20><BR>#}
    {#            <div class="sideButton"><a class="sideButton" href="/home">Front Page</a></div>#}
    {#            <div class="sideButton"><a class="sideButton" href="/activate/activations">Activations</a></div>#}
    {#            <div class="sideButton"><a class="sideButton" href="/teams">Teams</a></div>#}
    {#            <div class="sideButton"><a class="sideButton" href="/stats/leaders">Stats</a></div>#}
    {#            <div class="sideButton"><a class="sideButton" href="/history/2019Season/schedule">Schedule</a></div>#}
    {#            <div class="sideButton"><a class="sideButton" href="/history/2019Season/standings">Standings</a></div>#}
    {#            <div class="sideButton"><a class="sideButton" href="/transactions/transactions">Transactions</a></div>#}
    {#            <div class="sideButton"><a class="sideButton" href="/rules">Rules</a></div>#}
    {#            <div class="sideButton"><a class="sideButton" href="/history">History</a></div>#}

    {#        </TD>#}
    {#        <TD WIDTH=* VALIGN=Top ALIGN=Left>#}
{#{{ dump(cssList) }}#}